<header class="header" id="main-header">
	{{page.header}}
	<nav class="menu" id="main-menu">
		{{page.menu}}
	</nav>
</header>
<main class="main" id="main-content-wrapper">
	{% if page.sidebar %}
		<aside class="sidebar" id="main-sidebar">
			{{page.sidebar}}
		</aside>
	{% endif %}
	
	<article class="content" id="main-content">
		{{page.content}}
	</article>
</main>
<footer class="footer">
	{{page.footer}}
</footer>
